<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <!--Use router 'standard' for frontend route-->
    <router id="standard">
        <!--Define a custom route with id and frontName-->
        <route id="benmarks_brands" frontName="brands">
            <!--The module which this route match to-->
            <module name="Benmarks_Brands"/>
        </route>
    </router>
</config>
